@*@model IEnumerable<TheWorld.Models.Trip> Using client-side AngularJS API calls *@

@{
    ViewBag.Title = "Home Page";
    // Layout = "_Layout"; Moved to MVC View Start Page!
}

@section Scripts {
    <script src="~/lib/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbRgMHNVHWTQDY5htHsSJpYGDul6RJCiY"></script>
    <script src="~/lib/gmaps/gmaps.min.js"></script>
    <script src="~/lib/travelmap/travelmap.min.js"></script>
    <script src="~/js/simpleControls.js"></script>
    <script type="text/javascript" src="~/js/app-trips.js"></script>
    <script type="text/javascript" src="~/js/tripsController.js"></script>
    <script src="~/js/tripEditorController.js"></script>
}

@*<!DOCTYPE html> MOVED TO _Layout.cshtml master page!
    <html>
    <head>
        <title>The World - @ViewBag.Title</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="css/site.css" />
    </head>
    <body>
        <div id="sidebar">
            <img src="img/user1.jpg" alt="headshot" class="headshot" />
            <span id="username">Gary Geek</span>
            <ul class="menu">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div id="wrapper">
            <div id="main">
                <div>
                    <button id="sidebarToggle">Hide Sidebar</button>
                </div>*@

<div class="row" ng-app="app-trips">

    <div ng-view></div>


</div>

@*</div> MOVED TO _Layout.cshtml master page!
            <div id="footer">
                &copy; 2016 The World Ltd.
            </div>
        </div>

        <script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="js/site.js">
            //var ele = document.getElementById("username");
            //ele.innerHTML = "Uncle Gary";
        </script>

    </body>
    </html>*@