@model IEnumerable<TheWorld.Models.Trip>

@{
    ViewBag.Title = "Home Page";
    // Layout = "_Layout"; Moved to MVC View Start Page!
}

@section Scripts {
    <script type="text/javascript" src="~/lib/angular/angular.min.js"></script>
    <script src="~/js/simpleControls.js"></script>
    <script type="text/javascript" src="~/js/app-trips.js"></script>
    <script type="text/javascript" src="~/js/tripsController.js"></script>
}

@*<!DOCTYPE html> MOVED TO _Layout.cshtml master page!
    <html>
    <head>
        <title>The World - @ViewBag.Title</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="css/site.css" />
    </head>
    <body>
        <div id="sidebar">
            <img src="img/user1.jpg" alt="headshot" class="headshot" />
            <span id="username">Gary Geek</span>
            <ul class="menu">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div id="wrapper">
            <div id="main">
                <div>
                    <button id="sidebarToggle">Hide Sidebar</button>
                </div>*@

<div class="row" ng-app="app-trips">

    <div ng-controller="tripsController as vm" class="col-md-6 col-md-offset-3">
        @*{{ vm.name }}*@
        <div class="text-danger" ng-show="vm.errorMessage">{{vm.errorMessage}}</div>
        @*<div ng-show="vm.isBusy" class="text-center"><i class="fa fa-spinner fa-spin">Loading...</i></div>*@
        @*<wait-cursor ng-show="vm.isBusy"></wait-cursor>*@
        <wait-cursor display-when="wm.isBusy"></wait-cursor>
        <table class="table table-responsive table-striped">
            <tr ng-repeat="trip in vm.trips">
                <td>{{trip.name}}</td>
                <td>{{trip.created | date: 'MM-dd-yyyy'}}</td>
                <td><a href="#" class="btn btn-sm btn-primary">Manage</a></td>
            </tr>
        </table>

        <form novalidate name="newTripForm" ng-submit="vm.addTrip()">
            <div class="form-group">
                <label for="name">Trip Name</label>
                <input class="form-control" type="text" id="name" name="name" ng-model="vm.newTrip.name" required ng-minlength="5" />
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-sm btn-success" ng-disabled="newTripForm.$invalid" />
                <span ng-show="newTripForm.name.$error.required" class="text-warning">Name is required!</span>
                <span ng-show="newTripForm.name.$error.minlength" class="text-warning">Name must be at least 5 characters!</span>
            </div>
        </form>
    </div>

    <div class="col-md-6">
        <h1>The World</h1>
        <p>This will be a fun website soon!</p>

        <form>
            <div class="form-group">
                <label>Date</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label>Location</label>
                <input class="form-control" />
            </div>
            <div><input type="submit" value="Add" class="btn btn-success" /></div>
        </form>
    </div>

    <div class="col-md-6">
        <h2>The Map</h2>

        <ul>
            @foreach (var item in Model)
            {
            <li>@item.Name : @item.DateCreated </li>
            }
        </ul>


    </div>

</div>

@*</div> MOVED TO _Layout.cshtml master page!
            <div id="footer">
                &copy; 2016 The World Ltd.
            </div>
        </div>

        <script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="js/site.js">
            //var ele = document.getElementById("username");
            //ele.innerHTML = "Uncle Gary";
        </script>

    </body>
    </html>*@